---
layout: archive
title: "Publications"
permalink: /publications/
author_profile: true
---

{% include base_path %}

{% if site.author.googlescholar %}
  <div class="wordwrap">You can also find my articles on <a href="{{site.author.googlescholar}}">my Google Scholar profile</a>.</div>
{% endif %}

<h2 style="font-weight: bold; margin-bottom: 5px;">Working Papers</h2>
<hr style="margin-top: 0; margin-bottom: 20px;" />

<h3 class="archive__item-title" style="margin-bottom: 0;">
  <a href="https://papers.ssrn.com/sol3/papers.cfm?abstract_id=5285989">Homes of Harm: Spousal Violence and Child Malnutrition in India</a>
</h3>

<p style="margin-top: 0; font-size: 0.9em;">
  <span style="color: #52adc8; font-style: italic;">With <a href="https://sites.google.com/site/rbaruabhowmik/" style="color: #52adc8;">Rashmi Barua</a></span>
  {% comment %} <span style="margin-left: 10px; font-weight: bold; color: #666;">— Under Review</span> {% endcomment %}
</p>

<br>

<h2 style="font-weight: bold; margin-bottom: 5px;">Work-in-Progress</h2>
<hr style="margin-top: 0; margin-bottom: 20px;" />

<h3 class="archive__item-title" style="margin-bottom: 0;">
  No Room of One’s Own: Inherited Norms and Women’s Lifetime Labor Market Non-Participation
</h3>
<p style="margin-top: 0; font-size: 0.9em;">
  <span style="color: #52adc8; font-style: italic;">With <a href="https://sites.google.com/site/rbaruabhowmik/" style="color: #52adc8;">Rashmi Barua</a></span>
</p>

<br>

{% comment %}
<h2 style="font-weight: bold; margin-bottom: 5px;">Journal Publications</h2>
<hr style="margin-top: 0; margin-bottom: 20px;" />

<h3 class="archive__item-title" style="margin-bottom: 0;">Paper Title</h3>
<p>Details...</p>
{% endcomment %}

<h2 style="font-weight: bold; margin-bottom: 5px;">Book Chapters</h2>
<hr style="margin-top: 0; margin-bottom: 20px;" />

<h3 class="archive__item-title" style="margin-bottom: 0;">
  Kerala’s Ageing Economy and Exploring the Role of Community-Based Care Work
</h3>
<p style="margin-top: 0; font-size: 0.9em;">
  <span style="color: #52adc8; font-style: italic;">With Navia Sebastian</span>
  <span style="margin-left: 10px; color: #666;">— Published in <i>Social and Solidarity Economy: A Sectoral Narrative</i> (ISBN 978-93-91798-51-2)</span>
</p>

<br>

<h3 class="archive__item-title" style="margin-bottom: 0;">
  Grapes of Wrath - The Indian Fiasco
</h3>
<p style="margin-top: 0; font-size: 0.9em;">
  <span style="color: #52adc8; font-style: italic;">With Steny Raphael</span>
  <span style="margin-left: 10px; color: #666;">— Published in <i>Socio-Legal Androcentrism and Gender Inequalities</i>, Centre For Women and Law, NLU Odisha (ISBN 9789389656343)</span>
</p>

<br>

<h3 class="archive__item-title" style="margin-bottom: 0;">
  An analysis on the Socio-Economic status of Rubber Farmers in Kottayam district with special reference to the Farm Gate Price Earned
</h3>
<p style="margin-top: 0; font-size: 0.9em;">
  <span style="color: #52adc8; font-style: italic;">With Anandan S</span>
  <span style="margin-left: 10px; color: #666;">— Published in <i>Oikonomikos</i> (ISSN 2277-6397)</span>
</p>

<br>

<h3 class="archive__item-title" style="margin-bottom: 0;">
  ചില കോവിഡാനന്തര സാമ്പത്തിക ചിന്തകൾ
</h3>
<p style="margin-top: 0; font-size: 0.9em;">
  <span style="color: #52adc8; font-style: italic;">With Niranjana CP</span>
  <span style="margin-left: 10px; color: #666;">— Published in <i>കോവിഡാനന്തര കേരളം: ഒരു പുതിയ വികസന പരിപ്രേക്ഷ്യം</i> (ISBN 9788195270415)</span>
</p>